/* ================ Global Styles =============== */

* {
	margin: 0;
	padding: 0;
	font-family: "lato", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f5f5f5;
}

/* ================ Navigation Styles =============== */

nav {
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	width: 100%;
	height: 100vh;
	z-index: 100;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  background-color: #ec53424f;
}

#cross-container {
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 30px;
	transition: 0.2s;
	cursor: pointer;
	z-index: 6;
}

#cross-container:hover {
	color: #ec5342;
}

#nav-logo {
	width: 150px;
}

#nav-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	font-family: "Lato", sans-serif;
	height: 40vh;
	padding: 0;
	margin: 0;
}

#nav-links a:hover {
	color: #ec5342;
}

#nav-btn {
	background-color: #fff;
	font-family: "COCOGOOSE", sans-serif;
	font-size: 18px;
	color: #ec5342;
	width: 150px;
	height: 50px;
	border: 3px solid #ec5342;
	margin-bottom: 10vh;
	transition: 0.2s;
	cursor: pointer;
}

#nav-btn:hover {
	background-color: #ec5342;
	color: #fff;
}

.deco-ball-1 {
	position: absolute;
	top: 36.75%;
	right: 0;
	background-image: url(assets/Icons/hitmark-colorful.png);
	width: 75px;
	height: 75px;
	border-radius: 50%;
	z-index: -1;
}

nav .deco-ball-1 {
	z-index: 5;
	top: 25vh;
	left: 5%;
}

.curtain-deco {
	position: absolute;
	top: 15%;
	right: 40%;
	height: 70%;
	transform: rotate(45deg);
}

nav .curtain-deco {
	position: absolute;
	top: 70vh;
	right: 10%;
	width: 60px;
	transform: rotate(45deg);
}

#img-frame {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 80px;
	max-height: 80px;
}

#burger {
	position: fixed;
	color: #272a31;
	z-index: 1000;
	height: 40px;
	width: 40px;
	top: 10px;
	left: 10px;
	font-size: 30px;
	transition: 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#burger-container:hover {
	color: #ec5342;
}

#img-curtain {
	z-index: 50;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5d0;
	background: linear-gradient(#ec534247, #ec534247), url(assets/Images/Gym.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.curtain-hitmark {
	position: absolute;
	right: 15%;
	bottom: 10%;
	width: 7.5%;
}

/* ================ Headline Styles =============== */

header {
	padding-top: 80px;
	position: relative;
	margin: 0 5%;
}

header h1 {
	font-family: "Lato", sans-serif;
	font-size: 24px;
	color: #ec5342;
}

header h2 {
	font-family: "COCOGOOSE", sans-serif;
	line-height: 100%;
	font-size: 34px;
	color: red;
	margin: 30px 0 50px 0;
}

.txt-container {
	position: relative;
	background-color: #f5f5f5;
	font-family: "Lato", sans-serif;
	border: 3px solid #fff;
	z-index: 2;
}

.txt-container p {
	margin: 0 5%;
}

#tag-container {
	position: relative;
	font-family: "Lato", sans-serif;
	color: #6c6c6c;
	padding-bottom: 75px;
}

.tag-hitmark {
	position: absolute;
	bottom: 10px;
	left: 15%;
	width: 30px;
}

#tag-container i {
	position: absolute;
	bottom: 45px;
	right: 20%;
	font-size: 30px;
	color: #b1b1b1;
}

/* ================ Main Styles =============== */

main {
	background-image: url(assets/Icons/hitmark-resized.png);
	background-color: #272a31;
	color: #fff;
	text-align: center;
}

#program-container {
	display: flex;
	flex-direction: column;
}

main h2 {
	font-family: "Lato", sans-serif;
	padding-top: 20px;
	margin-bottom: 0;
}

#h-underline {
	width: 10%;
	border-color: #ec5342;
	margin-bottom: 20px;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f520;
	
	margin: 5px 5%;
}

.card h3 {
	color: #ec5342;
	font-size: 13px;
	width: 15%;
	margin-right: 5%;
}

.card-icon {
	color: #d3d3d3;
	font-size: 35px;
	width: 15%;
	margin: 0 5% 0 2.5%;
	transition: 0.2s;
}

.card:hover .card-icon {
	color: #ec5342;
}

.card-text {
	text-align: left;
	font-size: 12px;
	width: 50%;
	margin: 0 5%;
}

#main-btn {
	align-self: center;
	background-color: #ec5342;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	border: none;
	max-width: 400px;
	width: 75%;
	height: 80px;
	margin-top: 35px;
	margin-bottom: 40px;
	transition: 0.2s;
	cursor: pointer;
}

#main-btn:hover {
	background-color: #e21919;
}

.main-a {
	display: none;
	font-family: "Lato", sans-serif;
	color: #fff;
	padding: 80px 0;
	transition: 0.2s;
}

.main-a:hover {
	color: #ec5342;
}

/* ================ Trainers Styles =============== */

#trainers {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.trainer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#trainers h2 {
	font-family: "Lato", sans-serif;
	margin-bottom: 0;
}

.trainer-btn {
	max-width: 400px;
	width: 90%;
	height: 40px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	margin: 40px 0;
	transition: 0.2s;
	cursor: pointer;
}

.trainer-btn i {
	color: #ec5342;
}

.trainer-btn:hover {
	background-color: #d3d3d3;
}

#partners {
	background-color: #272a31;
	text-align: center;
	font-family: "Lato", sans-serif;
	color: #fff;
	padding-top: 10px;
}

#partners h2 {
	margin: 0;
}

#partners-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#partners-list li {
	width: 30%;
	margin: 20px 0;
}

.partner-logo {
	width: 100px;
	height: 100px;
}

